.column {
    float:left;
}

.leyenda {
    float:right;
}
.footer {
  margin-top: 50px;
  padding: 10px 20px;
}
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 12px;
  margin-top: 16px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container  button:hover {
  background: #ccc;
}

.row1 {
     overflow: auto;
}
.row2 {
     overflow: auto;
     margin-top: 10px;
}
.search-container {
    position: fixed;
}

.button-container {
    float: right;
}
.cabecera {
     overflow: auto;
}

.login {
  float: right;
  padding: 6px 10px;
  margin-top: -40px;
  margin-right: 100px;
}