.column {
margin-top: 10px;
	text-indent: 10px;
    float:left;
    position: relative;
    width:50%;
}

.leyenda {
    float:right;
    position: sticky;
    text-align: justify;
    width:50%;
}

.number{
  margin-top: 20px;
  position: fixed;
  text-align: center;
  padding: 1rem;
  background-color: #efefef;
}
body {
	margin:0;
    background-color: #cce6ff
}
.cabecera{
    text-align: center;
    padding: 20px;
    background-color: #efefef;
}
.container {
  min-height: 100%;
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
  }

.topnav .search-container {
  float: left;
}

.topnav input[type=text] {
  padding: 12px;
  margin-top: 16px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container  button:hover {
  background: #ccc;
}

.row1 {
    overflow: auto;
    margin-top: 25px;

}
.row2 {
     overflow: auto;
}
.search-container {
    position: fixed;
}

.button-container {
    float: right;
}
.button-container1 {
    float: right;
    margin-bottom: 25px;
}

.login {
  float: right;
  padding: 6px 10px;
  margin-top: -40px;
  margin-right: 100px;
}