{% extends "base2.html" %}
{% block main-content %}
    <body>
        <div>
            <h2><p>Neologismo Buscado</p></h2>
        </div>
         {% if n %}
        <h3><i><p>{{ n }}</p></i></h3>
        <p><b><u>Fecha:</u></b> {{ n.date }}</p>
        <p><b><u>Perfil/Perfiles:</u></b> {{ n.bio }}</p>
        <p><b><u>Localizacion/es:</u></b> {{ n.local }}</p>
        <b><u><p>Tweets de Contexto:</p></u></b>
        <p>{{ n.tweet }}</p>
        {% else %}
        <h3><i><p>No encontrado</p></i></h3>
        {%endif%}
    </body>
{% endblock %}