{% extends "base.html" %}
{% load static %}
{% block content %}

<body>
<div>
    <h2><p>Procesar</p></h2>
</div>
<div class="procesando">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>

    {% if uploaded_file_url %}
    <p>Archivo subido: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    <a  href="{% url 'linguista:proceso' %}?f={{ uploaded_file_url }}"><button type="button" class="btn btn-primary btn-md">Procesar</button></a>
    {% endif %}
    <p><a href="{% url 'linguista:index' %}">Volver al Inicio</a></p>
</div>
</body>
{% endblock %}